.card {
  padding: 1.5rem;
}

.flex {
  display: flex;
}

.justify-content-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

.mb-4 {
  margin-bottom: 1rem;
}

.mb-0 {
  margin-bottom: 0;
}

.flex-grow-1 {
  flex-grow: 1;
}

.p-button-sm {
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
}
