<div class="card p-fluid max-w-[800px] mx-auto">

  <h2>{{ isEditMode ? 'Edit Event' : 'Add Event' }}</h2>
  
  <form [formGroup]="eventsForm" (ngSubmit)="onSubmit()" class="flex flex-col gap-6">
    <!-- Vertical Grid Layout -->
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
      <!-- Code Field -->
      <div class="field">
        <label for="code">Code <span class="required-star">*</span></label>
        <input 
          id="code" 
          type="text" 
          pInputText 
          class="w-full"
          formControlName="code" 
          [ngClass]="{
            'field-error': 
              (eventsForm.controls['code'].invalid && 
              (eventsForm.controls['code'].dirty || eventsForm.controls['code'].touched || submitted))
          }"
        />
        <small 
          *ngIf="eventsForm.controls['code'].invalid && 
                (eventsForm.controls['code'].dirty || eventsForm.controls['code'].touched || submitted)" 
          class="p-error"
        >
          Required
        </small>
      </div>

      <!-- Name Field -->
      <div class="field">
        <label for="name">Name <span class="required-star">*</span></label>
        <input class="w-full"
          id="name" 
          type="text" 
          pInputText 
          formControlName="name" 
          [ngClass]="{
            'field-error': 
              (eventsForm.controls['name'].invalid && 
              (eventsForm.controls['name'].dirty || eventsForm.controls['name'].touched || submitted))
          }"
        />
        <small 
          *ngIf="eventsForm.controls['name'].invalid && 
                (eventsForm.controls['name'].dirty || eventsForm.controls['name'].touched || submitted)" 
          class="p-error"
        >
          Required
        </small>
      </div>

      <!-- NameSE Field -->
      <div class="field">
        <label for="nameSE">Name (SE) <span class="required-star">*</span></label>
        <input class="w-full"
          id="nameSE" 
          type="text" 
          pInputText 
          formControlName="nameSE" 
          [ngClass]="{
            'field-error': 
              (eventsForm.controls['nameSE'].invalid && 
              (eventsForm.controls['nameSE'].dirty || eventsForm.controls['nameSE'].touched || submitted))
          }"
        />
        <small 
          *ngIf="eventsForm.controls['nameSE'].invalid && 
                (eventsForm.controls['nameSE'].dirty || eventsForm.controls['nameSE'].touched || submitted)" 
          class="p-error"
        >
          Required
        </small>
      </div>

      <div class="field" *ngIf="isSuperAdmin">
        <label for="organizationId">Organization <span class="required-star">*</span></label>
        <p-select class="w-full"
          id="organizationId" 
          formControlName="organizationId" 
          [options]="organizations" 
          optionLabel="name" 
          optionValue="id"
          placeholder="Select Organization"
          [ngClass]="{
            'field-error': 
              (eventsForm.controls['organizationId'].invalid && 
              (eventsForm.controls['organizationId'].dirty || eventsForm.controls['organizationId'].touched || submitted))
          }"
        ></p-select>
        <small 
          *ngIf="eventsForm.controls['organizationId'].invalid && 
                (eventsForm.controls['organizationId'].dirty || eventsForm.controls['organizationId'].touched || submitted)" 
          class="p-error"
        >
          Required
        </small>
      </div>

      <!-- Start Date Field -->
      <div class="field">
        <label for="start">Start Date</label>
        <input class="w-full"
          id="start" 
          type="datetime-local" 
          pInputText 
          formControlName="start" 
          placeholder="Select Start Date"
        />
      </div>

      <!-- End Date Field -->
      <div class="field">
        <label for="end">End Date</label>
        <input class="w-full"
          id="end" 
          type="datetime-local" 
          pInputText 
          formControlName="end" 
          placeholder="Select End Date"
        />
      </div>

      <!-- Location ID Field -->
      <div class="field">
        <label for="locationId">Location ID</label>
        <input class="w-full"
          id="locationId" 
          type="number" 
          pInputText 
          formControlName="locationId" 
          placeholder="Enter Location ID"
        />
      </div>
    </div>

    <!-- Buttons -->
    <div class="flex justify-content-start gap-2 mt-4">
      <button 
        pButton 
        type="button" 
        label="Cancel" 
        class="p-button-secondary" 
        (click)="onCancel()"
        [disabled]="loading"
      ></button>
      <button 
        pButton 
        type="submit" 
        [label]="isEditMode ? 'Update' : 'Save'" 
        [disabled]="eventsForm.invalid || loading"
      ></button>
    </div>
  </form>
</div>

<p-toast></p-toast>
