<div class="card">
    <div class="flex justify-content-between items-center mb-4">
        <h2 class="mb-0">{{ 'gradeList.title' | translate }}</h2>
        <div class="flex-grow-1"></div>
        <button 
            pButton 
            [label]="'gradeList.addButton' | translate" 
            icon="pi pi-plus" 
            class="p-button-sm"
            (click)="openCreateDialog()"
        ></button>
    </div>
    
    <p-table #dt [value]="grades" dataKey="id" [rows]="10" [loading]="loading" [rowHover]="true"
        [showGridlines]="true" [paginator]="true" [globalFilterFields]="['code', 'name', 'nameSE']">
        
        <ng-template pTemplate="caption">
            <div class="flex justify-between items-center">
                <button pButton [label]="'common.buttons.clear' | translate" class="p-button-outlined" icon="pi pi-filter-slash" 
                    (click)="clear(dt)"></button>
                <p-iconfield iconPosition="left" class="ml-auto">
                    <p-inputicon><i class="pi pi-search"></i></p-inputicon>
                    <input pInputText type="text" #filter (input)="onGlobalFilter(dt, $event)" 
                           [placeholder]="'common.searchPlaceholder' | translate" />
                </p-iconfield>
            </div>
        </ng-template>

        <ng-template pTemplate="header">
            <tr>
                <th>{{ 'common.headers.code' | translate }}</th>
                <th>{{ 'common.headers.name' | translate }}</th>
                <th>{{ 'common.headers.nameSE' | translate }}</th>
                <th>{{ 'common.headers.status' | translate }}</th>
                <th>{{ 'common.headers.createdDate' | translate }}</th>
                <th>{{ 'common.headers.actions' | translate }}</th>
            </tr>
        </ng-template>
        
        <ng-template pTemplate="body" let-grade>
            <tr>
                <td>{{ grade.code }}</td>
                <td>{{ grade.name }}</td>
                <td>{{ grade.nameSE }}</td>
                <td>
                    <p-tag [value]="getStatus(grade)" [severity]="getSeverity(getStatus(grade))"></p-tag>
                </td>
                <td>{{ grade.creationDate | date: 'MM/dd/yyyy' }}</td>
                <td>
                    <button pButton icon="pi pi-pencil" class="p-button-rounded p-button-text p-button-sm"
                            (click)="openEditDialog(grade)"></button>
                    <button pButton icon="pi pi-trash" class="p-button-rounded p-button-text p-button-danger p-button-sm"
                            (click)="deleteGrade(grade)"></button>
                </td>
            </tr>
        </ng-template>
        
        <ng-template pTemplate="emptymessage">
            <tr><td colspan="6">{{ 'common.emptyMessage' | translate }}</td></tr>
        </ng-template>
    </p-table>
</div>

<!-- Grade Modal Component -->
<app-grade-modal
  [(dialogVisible)]="dialogVisible"
  [isEditMode]="isEditMode"
  [grade]="selectedGrade"
  [organizations]="organizations"
  [isSuperAdmin]="isSuperAdmin"
  [loading]="loading"
  (onSave)="onGradeSaved($event)">
</app-grade-modal>

<p-toast></p-toast>
<p-confirmDialog></p-confirmDialog>