<div class="card p-fluid max-w-[800px] mx-auto">
  <h2>{{ (isEditMode ? 'Edit Cost Center' : 'Add Cost Center') | translate }}</h2>
  
  <form [formGroup]="costCenterForm" (ngSubmit)="onSubmit()" class="flex flex-col gap-6">
    <!-- Vertical Grid Layout -->
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
      <!-- Code Field -->
      <div class="mb-6">
        <label for="code" class="block mb-2 font-semibold">{{ 'Code' | translate }} <span class="text-red-500 font-bold">*</span></label>
        <input 
          id="code" 
          type="text" 
          pInputText 
          class="w-full"
          formControlName="code" 
          [ngClass]="{
            'border-red-500 shadow-[0_0_0_1px_#f44336]': 
              (costCenterForm.controls['code'].invalid && 
              (costCenterForm.controls['code'].dirty || costCenterForm.controls['code'].touched || submitted))
          }"
        />
        <small 
          *ngIf="costCenterForm.controls['code'].invalid && 
                (costCenterForm.controls['code'].dirty || costCenterForm.controls['code'].touched || submitted)" 
          class="text-red-500 text-sm mt-1"
        >
          {{ 'Code is required' | translate }}
        </small>
      </div>

      <!-- Name Field -->
      <div class="mb-6">
        <label for="name" class="block mb-2 font-semibold">{{ 'Name' | translate }} <span class="text-red-500 font-bold">*</span></label>
        <input class="w-full"
          id="name" 
          type="text" 
          pInputText 
          formControlName="name" 
          [ngClass]="{
            'border-red-500 shadow-[0_0_0_1px_#f44336]': 
              (costCenterForm.controls['name'].invalid && 
              (costCenterForm.controls['name'].dirty || costCenterForm.controls['name'].touched || submitted))
          }"
        />
        <small 
          *ngIf="costCenterForm.controls['name'].invalid && 
                (costCenterForm.controls['name'].dirty || costCenterForm.controls['name'].touched || submitted)" 
          class="text-red-500 text-sm mt-1"
        >
          {{ 'Name is required' | translate }}
        </small>
      </div>

      <!-- NameSE Field -->
      <div class="mb-6">
        <label for="nameSE" class="block mb-2 font-semibold">{{ 'Name (SE)' | translate }} <span class="text-red-500 font-bold">*</span></label>
        <input class="w-full"
          id="nameSE" 
          type="text" 
          pInputText 
          formControlName="nameSE" 
          [ngClass]="{
            'border-red-500 shadow-[0_0_0_1px_#f44336]': 
              (costCenterForm.controls['nameSE'].invalid && 
              (costCenterForm.controls['nameSE'].dirty || costCenterForm.controls['nameSE'].touched || submitted))
          }"
        />
        <small 
          *ngIf="costCenterForm.controls['nameSE'].invalid && 
                (costCenterForm.controls['nameSE'].dirty || costCenterForm.controls['nameSE'].touched || submitted)" 
          class="text-red-500 text-sm mt-1"
        >
          {{ 'Name (SE) is required' | translate }}
        </small>
      </div>

      <div class="mb-6" *ngIf="isSuperAdmin">
        <label for="organizationId" class="block mb-2 font-semibold">{{ 'Organization' | translate }} <span class="text-red-500 font-bold">*</span></label>
        <p-select class="w-full"
          id="organizationId" 
          formControlName="organizationId" 
          [options]="organizations" 
          optionLabel="name" 
          optionValue="id"
          placeholder="Select Organization"
          [ngClass]="{
            'border-red-500 shadow-[0_0_0_1px_#f44336]': 
              (costCenterForm.controls['organizationId'].invalid && 
              (costCenterForm.controls['organizationId'].dirty || costCenterForm.controls['organizationId'].touched || submitted))
          }"
        ></p-select>
        <small 
          *ngIf="costCenterForm.controls['organizationId'].invalid && 
                (costCenterForm.controls['organizationId'].dirty || costCenterForm.controls['organizationId'].touched || submitted)" 
          class="text-red-500 text-sm mt-1"
        >
          {{ 'Organization is required' | translate }}
        </small>
      </div>


    </div>

    <!-- Submit Button Row -->
    <div class="flex justify-start gap-2 mt-4">
      <button 
        pButton 
        type="button" 
        label="Cancel" 
        class="p-button-secondary" 
        (click)="onCancel()"
        [disabled]="loading"
      ></button>
      <button 
        pButton 
        type="submit" 
        [label]="(isEditMode ? 'Update' : 'Save')" 
        [disabled]="costCenterForm.invalid || loading"
      ></button>
    </div>
  </form>
</div>

<p-toast></p-toast>
