<div class="card">
    <div class="flex justify-content-between align-items-center mb-4">
        <h2 class="mb-0">{{ 'familyList.title' | translate }}</h2>
        <div class="flex-grow-1"></div>
        <button 
            pButton 
            [label]="'familyList.addButton' | translate" 
            icon="pi pi-plus" 
            class="p-button-sm"
            (click)="navigateToAdd()"
        ></button>
    </div>
    
    <p-table #dt [value]="families" dataKey="id" [rows]="10" [loading]="loading" [rowHover]="true"
        [showGridlines]="true" [paginator]="true" [globalFilterFields]="['code', 'name', 'nameSE']">
        
        <ng-template pTemplate="caption">
            <div class="flex justify-between items-center">
                <button pButton [label]="'common.clear' | translate" class="p-button-outlined" icon="pi pi-filter-slash" 
                    (click)="clear(dt)"></button>
                <p-iconfield iconPosition="left" class="ml-auto">
                    <p-inputicon><i class="pi pi-search"></i></p-inputicon>
                    <input pInputText type="text" #filter (input)="onGlobalFilter(dt, $event)" 
                           [placeholder]="'common.searchPlaceholder' | translate" />
                </p-iconfield>
            </div>
        </ng-template>

        <ng-template pTemplate="header">
            <tr>
                <th>{{ 'common.code' | translate }}</th>
                <th>{{ 'common.name' | translate }}</th>
                <th>{{ 'common.nameSE' | translate }}</th>
                <th>{{ 'common.status' | translate }}</th>
                <th>{{ 'common.createdDate' | translate }}</th>
                <th>{{ 'common.actions' | translate }}</th>
            </tr>
        </ng-template>
        
        <ng-template pTemplate="body" let-family>
            <tr>
                <td>{{ family.code }}</td>
                <td>{{ family.name }}</td>
                <td>{{ family.nameSE }}</td>
                <td>
                    <p-tag [value]="getStatus(family)" [severity]="getSeverity(getStatus(family))"></p-tag>
                </td>
                <td>{{ family.creationDate | date: 'MM/dd/yyyy' }}</td>
                <td>
                    <button pButton icon="pi pi-pencil" class="p-button-rounded p-button-text p-button-sm"
                            (click)="navigateToEdit(family.id)"></button>
                    <button pButton icon="pi pi-trash" class="p-button-rounded p-button-text p-button-danger p-button-sm"
                            (click)="deleteFamily(family)"></button>
                </td>
            </tr>
        </ng-template>
        
        <ng-template pTemplate="emptymessage">
            <tr><td colspan="6">{{ 'common.emptyMessage' | translate }}</td></tr>
        </ng-template>
    </p-table>
</div>
<p-toast></p-toast>