<div class="card p-fluid max-w-[800px] mx-auto">
  <h2>{{ (isEditMode ? 'familyForm.title.edit' : 'familyForm.title.add') | translate }}</h2>
  
  <form [formGroup]="familyForm" (ngSubmit)="onSubmit()" class="flex flex-col gap-6">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
      
      <div class="field">
        <label for="code">{{ 'common.code' | translate }} <span class="required-star">*</span></label>
        <input id="code" type="text" pInputText formControlName="code" />
        <small *ngIf="familyForm.controls['code'].invalid && submitted" class="p-error">
          {{ 'common.validation.required' | translate }}
        </small>
      </div>

      <div class="field">
        <label for="name">{{ 'common.name' | translate }} <span class="required-star">*</span></label>
        <input id="name" type="text" pInputText formControlName="name" />
        <small *ngIf="familyForm.controls['name'].invalid && submitted" class="p-error">
          {{ 'common.validation.required' | translate }}
        </small>
      </div>

      <div class="field">
        <label for="nameSE">{{ 'common.nameSE' | translate }} <span class="required-star">*</span></label>
        <input id="nameSE" type="text" pInputText formControlName="nameSE" />
        <small *ngIf="familyForm.controls['nameSE'].invalid && submitted" class="p-error">
          {{ 'common.validation.required' | translate }}
        </small>
      </div>

      <div class="field" *ngIf="isSuperAdmin">
        <label for="organizationId">
          {{ 'common.organization' | translate }} <span class="required-star">*</span>
        </label>
        <p-select
            id="organizationId"
            formControlName="organizationId"
            [options]="organizations"
            optionLabel="name"
            optionValue="id"
            [placeholder]="'common.placeholders.selectOrganization' | translate">
        </p-select>
        <small *ngIf="familyForm.controls['organizationId'].invalid && submitted" class="p-error">
            {{ 'common.validation.required' | translate }}
        </small>
      </div>

    </div>

    <div class="flex justify-content-start gap-2 mt-4">
      <button pButton type="button" [label]="'common.cancel' | translate" class="p-button-secondary" 
              (click)="onCancel()" [disabled]="loading"></button>
      <button pButton type="submit" [label]="(isEditMode ? 'common.update' : 'common.save') | translate" 
              [disabled]="familyForm.invalid || loading"></button>
    </div>
  </form>
</div>
<p-toast></p-toast>